.chat {
    flex: 0.7;
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 150px;
  }



.chat__header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    border-bottom:1px solid lightgray;
}

.chat__channelName {
    display: flex;
    text-transform: lowercase;
  }

.chat__channelName > .MuiSvgIcon-root {
    margin-left: 10px;
    font-size: 18px;
  }


.chat__headerRight > p {
    display:flex;
    align-items: center;
    font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
    margin-right: 5px !important;
    font-size: 16px;
  }

.chat_bottom_container{
  display:flex;
  position: fixed;
  top: 90%;
}
.chat_bottom
  {
    flex: 1;
    margin-bottom: auto;
  }

.attachButton{
  flex: 2;
  margin-left: 1%;
  height:65px;
  border: none;
}

button{
  background-color: wheat;
  border: none;
  font-size: medium;
  font-weight: bold;
}

.attachModalDiv{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
  }
